*{
    margin:0;
    padding:0;
    text-align: center;
}

h1{
    color:whitesmoke;
    background-color: #081b31;
    text-align: center;
    height:5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    height:30vh;
    gap:3rem;
    margin-top: 20px;

}
.choice{
    height:125px;
    width:125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.choice:hover{
    /* opacity:0.5; */
    cursor: pointer;
    background-color: black;
}

img{
    height:115px;
    width:115px;
    /* border: 2px solid black; */
    object-fit: cover;
    border-radius: 100px;
    
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}
#player-score , #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color:aliceblue;
    font-size: 2rem;
    display: inline;
    padding:1rem;
    border-radius: 5px;
}